<link href="//fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
<div style="display: none;" class="xs-stock-bar" data-xs-stock-bar data-xs-stock-json='{{ product.metafields.xs_stock_bar.max_stock }}'>
  <div class="xs-stock-info"> 
    <div class="xs-stock-label">Limited Release</div>
    <div class="xs-stock-text">Only
      <span data-xs-stock-left></span>
      left</div>  
  </div>
  <div class="xs-stock-progress" data-xs-stock-progress>
    <span class="xs-stock-spinner" data-xs-stock-spinner></span>
  </div>

  <div style="display: none!Important;" data-xs-variants>
    {% for variant in product.variants %}
      {% unless variant.metafields.secomapp.freegifts %}
        {% unless variant.title contains '(Freegifts)' %}

          <span data-management="{{variant.inventory_management}}" data-variant="{{ variant.id }}" data-qty="{{ variant.inventory_quantity }}"></span>

        {%endunless%}
      {%endunless%}
    {% endfor %}
  </div>
</div>


<script>

  $(function() {
    const productSelect = $("select[name=id]");
    const variantsInfo = $("[data-xs-variants]");
    const stockBar = $("[data-xs-stock-bar]"),
      stockLeft = $("[data-xs-stock-left]"),
      stockSpinner = $("[data-xs-stock-spinner]");

    let stockStr = stockBar.attr('data-xs-stock-json');
    if (stockStr == "") {
      return;
    }
    const stockData = JSON.parse(stockStr);
    $(`section.Product`).on("variant:changed", function(e) {
      var variant = event.detail.variant;
      var previousVariant = event.detail.previousVariant;
      if (variant.option1 != previousVariant.option1) {
        $('#reset-frame-unavailable').hide();
        $('label[for="white-frame"]').css('display', 'flex');
        $('label[for="black-frame"').css('display', 'flex');
        $('label[for="oak-frame"').css('display', 'flex');
        $('.dp-product-section-swatch-selector-price').css('display','block');
        if( $("#noframe").prop('checked'))
          $("label[for='noframe']").addClass('currently-selected-swatch-display');
        if (variant.option1 == 'MEDIUM 12x16" 30x40cm') {
          $("label[for='option-product-template-0-0']").addClass('currently-selected-size-display');
          $("label[for='option-product-template-0-1']").removeClass('currently-selected-size-display');
          $("label[for='option-product-template-0-2']").removeClass('currently-selected-size-display');
          $("label[for='option-product-template-0-3']").removeClass('currently-selected-size-display');
          //commented some code as frames are not active, GIANT size need fix when enable this code back for frames
          if (! variant.option2 && $('input[name="frame"]:checked').val()) {
            $("#reset-frame-money").text((black_variants[0].price).replace(/[^0-9\.]+/g, ""));
            $("#reset-compare-price").text((black_variants[0].compare_at_price).replace(/[^0-9\.]+/g, ""));
            //$('input[name="frame"]:checked').val(black_variants[0].id);
            $('#white-frame').val(white_variants[0].id);
            $('#black-frame').val(black_variants[0].id); 
            $('#oak-frame').val(oak_variants[0].id);
            
            $("#mat_board_input").attr('value', mat_board_variants[0].id);
            $("#mat_board_input").attr('price', mat_board_variants[0].price);
            $("#reset-passe-money").text(convertedPrice((mat_board_variants[0].price).replace(/[^0-9\.]+/g, "")));
            $("#reset-passe-money-compare").text(convertedPrice((mat_board_variants[0].compare_at_price).replace(/[^0-9\.]+/g, "")));

          }
        } else if (variant.option1 == 'LARGE 20x28" 50x70cm') {
          $("label[for='option-product-template-0-1']").addClass('currently-selected-size-display');
          $("label[for='option-product-template-0-0']").removeClass('currently-selected-size-display');
          $("label[for='option-product-template-0-2']").removeClass('currently-selected-size-display');
          $("label[for='option-product-template-0-3']").removeClass('currently-selected-size-display');
          
          if (! variant.option2 && $('input[name="frame"]:checked').val()) {
            $("#reset-frame-money").text((black_variants[1].price).replace(/[^0-9\.]+/g, ""));
            $("#reset-compare-price").text((black_variants[1].compare_at_price).replace(/[^0-9\.]+/g, ""));
            //$('input[name="frame"]:checked').val(black_variants[1].id);
            $('#white-frame').val(white_variants[1].id);
            $('#black-frame').val(black_variants[1].id);
            $('#oak-frame').val(oak_variants[1].id);
            
            $("#mat_board_input").attr('value', mat_board_variants[1].id);
            $("#mat_board_input").attr('price', mat_board_variants[1].price);
            $("#reset-passe-money").text(convertedPrice((mat_board_variants[1].price).replace(/[^0-9\.]+/g, "")));
            $("#reset-passe-money-compare").text(convertedPrice((mat_board_variants[1].compare_at_price).replace(/[^0-9\.]+/g, "")));
          }

        } else if (variant.option1 == 'X-Large 28x40" 70x100cm') {
          $("label[for='option-product-template-0-2']").addClass('currently-selected-size-display');
          $("label[for='option-product-template-0-0']").removeClass('currently-selected-size-display');
          $("label[for='option-product-template-0-1']").removeClass('currently-selected-size-display');
          $("label[for='option-product-template-0-3']").removeClass('currently-selected-size-display');

          if (! variant.option2 && $('input[name="frame"]:checked').val()) {
            $("#reset-frame-money").text((black_variants[2].price).replace(/[^0-9\.]+/g, ""));
            $("#reset-compare-price").text((black_variants[2].compare_at_price).replace(/[^0-9\.]+/g, ""));
            //$('input[name="frame"]:checked').val(black_variants[2].id);
            $('#white-frame').val(white_variants[2].id);
            $('#black-frame').val(black_variants[2].id);
            $('#oak-frame').val(oak_variants[2].id);
            
            $("#mat_board_input").attr('value', mat_board_variants[2].id);
            $("#mat_board_input").attr('price', mat_board_variants[2].price);
            $("#reset-passe-money").text(convertedPrice((mat_board_variants[2].price).replace(/[^0-9\.]+/g, "")));
            $("#reset-passe-money-compare").text(convertedPrice((mat_board_variants[2].compare_at_price).replace(/[^0-9\.]+/g, "")));

          }
        }  else if (variant.option1 == 'GIANT 40x55" 100x140cm') {
          $("label[for='option-product-template-0-3']").addClass('currently-selected-size-display');
          $("label[for='option-product-template-0-0']").removeClass('currently-selected-size-display');
          $("label[for='option-product-template-0-1']").removeClass('currently-selected-size-display');
          $("label[for='option-product-template-0-2']").removeClass('currently-selected-size-display');

          if (! variant.option2 && $('input[name="frame"]:checked').val()) {
            $("#noframe").prop('checked', true);
            //$('input[name="frame"]:checked').val(black_variants[2].id);
            $("label[for='noframe']").removeClass('currently-selected-swatch-display');
            $(".dp-product-section-head-frame-value").text('No Frame');
            $("label[for='black-frame']").removeClass('currently-selected-swatch-display');
            $("label[for='white-frame']").removeClass('currently-selected-swatch-display');
            $("label[for='oak-frame']").removeClass('currently-selected-swatch-display');

            $('#mat_board_product_container').addClass('passe-text-icon-container-faded');
            $("#mat_board_input").prop('checked', false);
            $("#mat_board_input").prop('disabled', true);
            $("#mat_board_input").attr('name', 'gallery-no-frame');
            $("#gallery-experience-choose").removeClass('passe-gallery-experience-icon-small');
            $("#mat_board_toptext_icon_container").addClass("passe-toptext-icon-container-noframe");
            $('#reset-frame-unavailable').show();
            $('label[for="white-frame"]').hide();
            $('label[for="black-frame"').hide();
            $('label[for="oak-frame"').hide();
          }
        }
      }

      let xid = e
        .originalEvent
        .detail
        .variant
        .id;
      stockBarInit(xid);

      if (variant != previousVariant) {
        if (variant.available) {
          $('.charity-organisations-container').show();
        } else {
          $('.charity-organisations-container').hide();
        }
      }

    });

    let initial = productSelect.val();
    if (initial == null) {
      let s = variantsInfo.find("span").first();
      if (s.length > 0) {
        initial = s.data('variant');
      }
    }
    stockBarInit(initial);
    function stockBarInit(id) {

//       const vid = productSelect.val();
      const vid = id;
      const vInfo = variantsInfo.find(`[data-variant=${vid}]`).first(),
        management = vInfo.attr('data-management');

      stockSpinner.css("width", "100%");
      if (management == "shopify") {
        let max_stock = parseInt(stockData[vid]);
        
        if (isNaN(max_stock))  {
          max_stock = 200;
        }
         let  left = parseInt(vInfo.attr('data-qty'));
        let percentage = (parseFloat(left) / parseFloat(max_stock)) * 100.0;

      if (max_stock >= left) {
        if (left == 0) {
          stockBar.hide();
        } else {
          stockBar.show(function() {
            stockLeft.text(left);
            stockSpinner.css("width", `${percentage}%`);
          });
        }
      } else { 
        stockBar.hide();
      }
    } else {
      stockBar.hide();
    }
  }

  function convertedPrice(frame_price) {
    var newCurrency = $('.CurrencySelector__Select').val();
    // var amount = Math.round(Currency.convert(frame_price, 'USD', newCurrency));
    var amount = frame_price;
    var moneyFormats = { 
      "USD": "$" + amount, 
      "EUR": "€" + amount, 
      "GBP": "£" + amount, 
      "CAD": "$" + amount, 
      "SEK": amount + " kr", 
      "DKK": amount + " kr", 
      "NOK": amount + " kr", 
      "AUD": "$" + amount 
    };
    
    return moneyFormats[newCurrency];
  }
});
</script>
