{%- if section.settings.show == true -%}
{% for block in section.blocks %}
{% if block.type == 'specs' %}
{%- if block.settings.show == true and  page.handle == block.settings.handle -%}
<div class="section-details" style="background-color: {{block.settings.backgroud-color}}">
  <div class="section-details-holder">
    <h3 class="SectionHeader__Heading Heading u-h2 details-heading" style="color: {{block.settings.text-color}}">{{
      block.settings.text}}</h3>
  </div>
  <ul class="section-details-list">
    {% for block in section.blocks %}
    {% if block.type == 'image' %}
    {%- if page.handle == block.settings.handle -%}
    <li class="section-detail">
      <img class="section-logo-img" src="{{block.settings.image | img_url: 'master'}}">
    </li>
    {%- endif -%}
		{%- endif -%}
    {% endfor %}
  </ul>
</div>
{%endif%}
{%- endif -%}
{%endfor%}
{%endif%}

{% schema %}
{
  "name": "Logo List",
  "settings": [
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Sponsor logo",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Logo"
        },
        {
          "id": "handle",
          "type": "text",
          "label": "Charity Page Handle"
        }
      ]
    },
    {
      "type": "specs",
      "name": "Page-Wise Specs",
      "settings": [
        {
					"id": "handle",
					"type": "text",
					"label": "Charity Page Handle"
        },
        {
					"type": "checkbox",
					"id": "show",
					"label": "Show",
					"default": false
        },
        {
          "id": "backgroud-color",
          "type": "color",
          "label": "Background color",
          "default": "#FFFFFF"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text"
        },
        {
          "id": "text-color",
          "type": "color",
          "label": "Text color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Logo List"
    }
  ]
}
{% endschema %}