{%- if section.settings.show == true -%}
<div class="section-details updated-section logolist-section" style="background-color: {{section.settings.backgroud-color}}">
  <div class="section-details-holder">
    <h5 style="color: {{section.settings.text-color}}">{{ section.settings.text}}</h5>
  </div>
  <ul class="section-details-list">
    {% for block in section.blocks %}
      <li class="section-detail">
        <img class="section-logo-img" src="{{block.settings.image | img_url: '200x'}}">
      </li>
    {% endfor %}
  </ul>
</div>
{%endif%}
{% schema %}
  { 
    "name":"Logo List",
    "settings": [
      {
        "id": "backgroud-color",
        "type": "color",
        "label": "Background color",
        "default": "#FFFFFF"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Text"
      },
      {
        "id": "text-color",
        "type": "color",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show",
        "default": false
      }
    ],
    
    "blocks": [
      {
        "type": "image",
        "name": "Sponsor logo",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Logo"
          }
        ]
      }
    ],

    "presets": [
      {
        "category": "Text",
        "name": "Logo List"
      }
    ]
  }
{% endschema %}