<style>
  .currencyDrawer{
    background-color: #f2f2f2;
  }
  #new-currency-drawer-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
  }
  .new-currency-drawer-container-item{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 15px;
    gap: 10px;
  }
  #new-currency-drawer-container>div.currency-divider{
    height: 1px;
    width: 95%;
    margin: 10px 0px 10px 0px;
    background-color: rgb(209, 208, 208);
  }
  #new-currency-drawer-container>div.currency-divider:last-child{
    display: none;
  }
  .new-currency-drawer-region {
    padding: 30px 0px 0px 15px;
    border-bottom: 1px solid lightgray;
    font-family: 'Adobe Caslon Pro';
    line-height: 2;
  }
</style>
<section id="sidebar-menu-currency" class="SidebarMenu Drawer Drawer--small Drawer--fromLeft currencyDrawer" aria-hidden="true" data-section-id="{{ section.id }}" data-section-type="sidebar-menu">
    <header class="Drawer__Header" data-drawer-animated-left>
      <button class="Drawer__Close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="{{ section.id }}" aria-label="{{ 'header.navigation.close_sidebar' | t }}">
        {%- include 'icon' with 'close' -%}
      </button>
    </header>

    <div class="Drawer__Content">
      <div class="Drawer__Main drawer-menu" data-drawer-animated-left data-scrollable>
        <div class="Drawer__Container drawer-sidebar">
          <div id="new-currency-drawer-container">
          </div>
        </div>
      </div>
    </div>
</section>

<script>
  var cont = $('#new-currency-drawer-container');

  for (const [key, value] of Object.entries(regions)) {
    var currencyitems = ''
    value.sort((a,b) => countryNames[a].localeCompare(countryNames[b]));
    const useable_countries = value.filter((item) => currencyfiltered_object.hasOwnProperty(item));
    if (useable_countries.length > 0) {
      cont.append("<div class='new-currency-drawer-region'>" + key + "</div>")
      for (const key of useable_countries) {
        currencyitems = currencyitems.concat("<a name='new-currency-object' data-country='" + countryNames[key] +"' data-currency='" + countryCurrency[key] + "' data-flag='" + countryCurrencyFlag[key] + "'>" 
        + "<span><img src='https://cdn.shopify.com/s/files/1/0082/5619/2602/files/" + countryCurrencyFlag[key] + ".png' id='flags' ></span>"  
        + countryNames[key] + " (" + countryCurrency[key] + ")" + "</a>");
      }
      cont.append("<div class='new-currency-drawer-container-item'>" + currencyitems + "</div>")
    }
  }
</script>

{% schema %}
{
  "name": "Sidebar menu currency",
  "settings": [
  ]
}
{% endschema %}