{%- if section.settings.show == true -%}
<div class="section-details updated-section simple-text-section" style="background-color: {{section.settings.backgroud-color}}; padding-block: {{ section.settings.height | times: 60 }}px">
  <div class="section-details-holder">
    <div class="simple-text-content" style="color: {{section.settings.text-color}}">{{section.settings.text}}</div>
  </div>
</div>
{%endif%}
{% schema %}
  { 
    "name":"Simple Text",

    "settings": [
      {
        "id": "text",
        "type": "richtext",
        "label": "Content"
      },
      {
        "id": "backgroud-color",
        "type": "color",
        "label": "Background color",
        "default": "#FFFFFF"
        
      },
      {
        "id": "text-color",
        "type": "color",
        "label": "Text color",
        "default": "#000000"
        
      },
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show",
        "default": false
      },
      {
        "type": "range",
        "id": "height",
        "label": "Height",
        "default": 1,
        "step": 0.1,
        "min": 0.5,
        "max": 2
      }
    ],

    "presets": [
      {
        "category": "Text",
        "name": "Simple Text"
      }
    ]
  }
{% endschema %}