{%- if section.settings.show == true -%}
{% for block in section.blocks %}
{%- if block.settings.show == true -%}
{%- if page.handle == block.settings.handle -%}
<div class="section-details" style="background-color: {{block.settings.backgroud-color}}">
  <div class="section-details-holder">
    <h3 class="SectionHeader__Heading Heading u-h2 details-heading simple-text"
      style="color: {{block.settings.text-color}}">{{block.settings.text}}</h3>
  </div>
</div>
{%endif%}
{%endif%}
{%endfor%}
{%endif%}

{% schema %}{
  "name": "Simple Text",
  "settings": [
    {
      "type": "checkbox",
      "id": "show",
      "label": "Show",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "charity",
      "name": "Simple Text",
      "settings": [
        {
          "id": "handle",
          "type": "text",
          "label": "Charity Page Handle"
        },
        {
          "type": "checkbox",
          "id": "show",
          "label": "Show",
          "default": false
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Content"
        },
        {
          "id": "backgroud-color",
          "type": "color",
          "label": "Background color",
          "default": "#FFFFFF"
        },
        {
          "id": "text-color",
          "type": "color",
          "label": "Text color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Simple Text"
    }
  ]
}
{% endschema %}