{%- if section.settings.show == true -%}
<div class="section-details" style="background-color: {{section.settings.backgroud-color}}">
  <div class="section-details-holder">
    <h3 class="SectionHeader__Heading Heading u-h2 details-heading simple-text" style="color: {{section.settings.text-color}}">{{section.settings.text}}</h3>
  </div>
</div>
{%endif%}
{% schema %}
  { 
    "name":"Simple Text",

    "settings": [
      {
        "id": "text",
        "type": "richtext",
        "label": "Content"
      },
      {
        "id": "backgroud-color",
        "type": "color",
        "label": "Background color",
        "default": "#FFFFFF"
        
      },
      {
        "id": "text-color",
        "type": "color",
        "label": "Text color",
        "default": "#000000"
        
      },
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show",
        "default": false
      }
    ],

    "presets": [
      {
        "category": "Text",
        "name": "Simple Text"
      }
    ]
  }
{% endschema %}