<style>
.UGC-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.UGC-section-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.UGC-section-item .UGC-Video {
    width : 70px;
    height : 70px;
    border: 1px solid black;
    border-radius: 50%;
}

</style>

<div class="UGC-section-container">
    <div class="UGC-section-items">
         <div class="UGC-section-item">
           {% for block in section.blocks %} 
           <video class="UGC-Video" controls>
            <source src="{{ block.settings.video | video_tag: image_size: '1100x', loop: block.settings.enable_video_looping }}" > 
           </video>
           {% endfor %} 
         </div> 
     </div>
</div>


{% schema %}

{
    "name": "UGC-Section",
    "settings": [
    ],
    "blocks": [
    {
        "type": "Video",
        "name": "Video",
        "settings": [
            {
            "type": "video",
            "id": "video",
            "label": "Video"
          }      
        ]
    }
],
    "presets": [
    {
        "name": "UGC-Videos"
    }
    ]
}

{% endschema %}