/* San Fransisco Pro */
@font-face {
    font-family: 'San Fransisco Pro';
    src: url('SFUIDisplay-Thin.woff2') format('woff2'),
        url('SFUIDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'San Fransisco Pro';
    src: url('SFUIDisplay-Ultralight.woff2') format('woff2'),
        url('SFUIDisplay-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'San Fransisco Pro';
    src: url('SFUIDisplay-Light.woff2') format('woff2'),
        url('SFUIDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'San Fransisco Pro';
    src: url('SFUIDisplay-Medium.woff2') format('woff2'),
        url('SFUIDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'San Fransisco Pro';
    src: url('SFUIDisplay-Semibold.woff2') format('woff2'),
        url('SFUIDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'San Fransisco Pro';
    src: url('SFUIDisplay-Bold.woff2') format('woff2'),
        url('SFUIDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'San Fransisco Pro';
    src: url('SFUIDisplay-Heavy.woff2') format('woff2'),
        url('SFUIDisplay-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'San Fransisco Pro';
    src: url('SFUIDisplay-Black.woff2') format('woff2'),
        url('SFUIDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* DIN Next Rounded LT Pro */
@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: local('DIN Next Rounded LT Pro Light'), local('DINNextRoundedLTPro-Light'),
        url('DINNextRoundedLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: local('DIN Next Rounded LT Pro Regular'), local('DINNextRoundedLTPro-Regular'),
        url('DINNextRoundedLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Med';
    src: local('DIN Next Rounded LT Pro Medium'), local('DINNextRoundedLTPro-Medium'),
        url('DINNextRoundedLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: local('DIN Next Rounded LT Pro Bold'), local('DINNextRoundedLTPro-Bold'),
        url('DINNextRoundedLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/* DIN Next LT Pro */
@font-face {
    font-family: 'DIN Next LT Pro Light';
    src: local('DIN Next LT Pro UltraLight'), local('DINNextLTPro-UltraLight'),
        url('DINNextLTPro-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro UltraLight Condensed'), local('DINNextLTPro-UltraLightCond'),
        url('DINNextLTPro-UltraLightCond.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro UltraLight Italic'), local('DINNextLTPro-UltraLightIt'),
        url('DINNextLTPro-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro Light';
    src: local('DIN Next LT Pro Light'), local('DINNextLTPro-Light'),
        url('DINNextLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Light Condensed'), local('DINNextLTPro-LightCondensed'),
        url('DINNextLTPro-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Light Italic'), local('DINNextLTPro-LightItalic'),
        url('DINNextLTPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/* Conflict not removed intentionally */
@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Condensed'), local('DINNextLTPro-Condensed'),
        url('DINNextLTPro-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Regular'), local('DINNextLTPro-Regular'),
        url('DINNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Italic'), local('DINNextLTPro-Italic'),
        url('DINNextLTPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro Medium';
    src: local('DIN Next LT Pro Medium'), local('DINNextLTPro-Medium'),
        url('DINNextLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro Cond';
    src: local('DIN Next LT Pro Medium Condensed'), local('DINNextLTPro-MediumCond'),
        url('DINNextLTPro-MediumCond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Medium Italic'), local('DINNextLTPro-MediumItalic'),
        url('DINNextLTPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Bold'), local('DINNextLTPro-Bold'),
        url('DINNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro Bold';
    src: local('DIN Next LT Pro Bold Condensed'), local('DINNextLTPro-BoldCondensed'),
        url('DINNextLTPro-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Bold Italic'), local('DINNextLTPro-BoldItalic'),
        url('DINNextLTPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro Heavy';
    src: local('DIN Next LT Pro Heavy'), local('DINNextLTPro-Heavy'),
        url('DINNextLTPro-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Heavy Condensed'), local('DINNextLTPro-HeavyCondensed'),
        url('DINNextLTPro-HeavyCondensed.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Heavy Italic'), local('DINNextLTPro-HeavyItalic'),
        url('DINNextLTPro-HeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next LT Pro Black';
    src: local('DIN Next LT Pro Black'), local('DINNextLTPro-Black'),
        url('DINNextLTPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Black Condensed'), local('DINNextLTPro-BlackCondensed'),
        url('DINNextLTPro-BlackCondensed.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Black Italic'), local('DINNextLTPro-BlackItalic'),
        url('DINNextLTPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/* Adobe Caslon Pro */
@font-face {
    font-family: 'Adobe Caslon Pro';
    src: url('ACaslonPro-Italic.woff2') format('woff2'),
        url('ACaslonPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Adobe Caslon Pro Regular';
    src: url('ACaslonPro-Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Adobe Caslon Regular */

@font-face {
    font-family: 'Adobe Caslon';
    src: url('ACaslon-Regular.woff2') format('woff2'),
        url('ACaslon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

