
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<meta property="fb:app_id" content="424426844274364"/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Win a limited edition hand painted sculpture by Ringo Starr, in an exclusive gift box with certificate of authenticity. Total worth of $1195." />
<meta name="twitter:description" content="The former Beatle has created his own design of the “Knotted Gun” statue “Non-Violence” which was originally created by Swedish artist Carl Fredrik Reuterswärd as a memorial tribute to John Lennon.In an urgent call to action, Ringo urged musicians from across genres and generations to unite behind The Non-Violence Project and it’s aim to put a stop to violence affecting young people. “I am doing the best I can – how about you?” - Ringo StarrTotal size of the sculpture is 16" (30cm)" />
<meta name="twitter:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1645348059/bqffxrqvfniiohbtbkbj.jpg" />
        
<meta property="og:url" content="https://app.viralsweep.com/sweeps/full/f3f42e-106497?framed=1"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Win a limited edition hand painted sculpture by Ringo Starr, in an exclusive gift box with certificate of authenticity. Total worth of $1195."/>
<meta property="og:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1645348059/bqffxrqvfniiohbtbkbj.jpg"/>
<meta property="og:site_name" content="Win a limited edition hand painted sculpture by Ringo Starr, in an exclusive gift box with certificate of authenticity. Total worth of $1195."/>
<meta property="fb:admins" content="1088490351"/>
<meta property="fb:admins" content="11512735"/>
<meta property="fb:admins" content="1088490312"/>
<meta property="og:description" content="The former Beatle has created his own design of the “Knotted Gun” statue “Non-Violence” which was originally created by Swedish artist Carl Fredrik Reuterswärd as a memorial tribute to John Lennon.In an urgent call to action, Ringo urged musicians from across genres and generations to unite behind The Non-Violence Project and it’s aim to put a stop to violence affecting young people. “I am doing the best I can – how about you?” - Ringo StarrTotal size of the sculpture is 16" (30cm)"/>
<title>Win a limited edition hand painted sculpture by Ringo Starr, in an exclusive gift box with certificate of authenticity. Total worth of $1195.</title>
<style type="text/css">
body { border: 0; margin: 0; padding: 0; }
</style>

<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

</head>
<body style="margin:-7.5px 0 0 0;padding:0px;">
<div id="vsscript_106497_116888"></div>
<script async type="text/javascript" src="https://app.viralsweep.com/vsa-full-f3f42e-106497.js?sid=106497_116888"></script>
</body>
</html>