<div id="main_section" role="main">
  <section class="char-page">
{% section 'page-archive-hero' %}
{% section 'page-archive-cards' %}
{% section 'page-archive-questions' %}

<style>
  .Footer--withMargin{
    margin-top: 0px;
  }
</style>
</section>

</div>