<!-- amai_stp-added -->
{% render 'amai_stp-product-snippet' %}
<!-- /amai_stp-added -->
{% include 'pwyw' %}
{% section 'product-template' %}
{% section 'trustbadges-v2' %}
{% render 'super-happy-customers' %}
<!-- <div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>  -->
<div id="looxReviews" class="loox-reviews-default" data-product-id="{{product.id}}" data-header="false">{{ product.metafields.loox.reviews }}</div>
{% section 'product-stories' %}
{% section 'product-questions' %}
{% section 'product-instagram' %}
{%- comment -%}
{% section 'reviews-product' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed-products' %}
{%- endcomment -%}
{% section 'trustbadges' %}
{% section 'newsletter' %}
{% section 'price-detail-popup' %}
{% section 'free-shipping-popup' %}
{% section 'free-art-popup' %}
{% section 'size-chart-popup' %}